# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
.pnp

# Production
dist/
build/

# Misc
.DS_Store
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?